.navbar{
    width: 100%;
    height: 80px;
    background-color: darkslategray;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.link{
    text-decoration: none;
    color: aliceblue;

}